doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Juego Dados
    link(rel="stylesheet", href="stylesheets/style.css")
    script(src='/javascripts/create-game.js' defer) 
  body 
    h3 New Game  
    div(class="container")
      form(action="/create-game.routes" method="POST" class="container-form")  
        div.form
          label Player1 
          input(type="text" id="player1" name="gamers" placeholder="Jugador#1")
          label Player2 
          input(type="text" id="player2" name="gamers" placeholder="Jugador#2")
          label Player3 
          input(type="text" id="player3" name="gamers" placeholder="Jugador#3")
        div(class="botton-enviar") 
          button(type="submit") Aceptar 
          
  
    
  //-method="POST"
